{{define "v1/category"}}{{template "v1/header" .}}
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="intro-columns">
                <div class="intro-column is-content">
                    <div class="intro-content">
                        <div class="pb-2"><h1 class="title intro-title">
                            <strong>给</strong>每一个人提供<strong>学</strong>习编程的精品课</h1>
                        </div>
                        <div class="mt-3"><h1 class="title intro-title">顺便找一个 <strong>月薪两万</strong> 的工作！</h1></div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<nav class="container breadcrumb is-medium mt-4 mb-0" aria-label="breadcrumbs">
    <ul>
        <li><a href="#" class="has-text-grey">首页</a></li>
        <li><a href="#" class="has-text-grey">课程</a></li>
        <li class="is-active"><a href="{{categoryUrl .category.Id .category.UrlName 1}}" class="has-text-grey" aria-current="page">{{.category.Name}}</a></li>
    </ul>
</nav>

<section class="section courses-list">
    <div class="container">
        {{if .courses}}
        {{$a := .courses|len}}
        {{range $key, $course := .courses }}
            {{if chunkStart 4 $key}}
        <div class="columns">
            {{end}}
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <a href="{{courseUrl $course.UrlName $course.Id}}" title="{{$course.Name}}"><img src="{{$course.Cover}}" alt="{{$course.Name}}"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content mb-2">
                            <div style="height: 44px;line-height:22px;overflow: hidden;">
                                <a href="{{courseUrl $course.UrlName $course.Id}}" title="{{$course.Name}}" class="has-text-dark">{{$course.Name}}</a>
                            </div>
                        </div>
                        <footer class="card-footer columns" style="border:none;padding:0">
                            <div class="column" style="color:#999;font-size:.9rem">
                                共 {{$course.ChaptersTotal}} 课时 | 老戴
                            </div>
                            <div class="column has-text-right" style="color:#f00;font-size:.9rem">
                                ¥{{$course.Price}}
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
            {{if chunkEnd 4 $key $a}}
        </div>
            {{end}}
        {{end}}
        {{end}}

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                <a {{if ne .pagination.CurrentPage .pagination.FirstPage}}href="{{categoryUrl .category.Id .category.UrlName .pagination.FirstPage}}"{{else}} disabled="disabled" {{end}} class="pagination-link">第一页</a>
                <a {{if gt .pagination.PrePage 0}}href="{{categoryUrl .category.Id .category.UrlName .pagination.PrePage}}"{{else}} disabled="disabled" {{end}} class="pagination-link">上一页</a>
                <li class="mr-6 ml-6">{{.pagination.CurrentPage}} / {{.pagination.Pages}}</li>
                <a {{if gt .pagination.NextPage 0}}href="{{categoryUrl .category.Id .category.UrlName .pagination.NextPage}}"{{else}} disabled="disabled" {{end}} class="pagination-link">下一页</a>
                <a {{if ne .pagination.CurrentPage .pagination.LastPage}}href="{{categoryUrl .category.Id .category.UrlName .pagination.LastPage}}"{{else}} disabled="disabled" {{end}} class="pagination-link">最后一页</a>
            </ul>
        </nav>
    </div>
</section>
{{template "v1/footer" .}}{{end}}