{{define "v1/footer"}}
<footer class="footer hero has-background-dark" style="padding:1.5rem 0">
  <div class="container has-text-centered">
    <p class="has-text-grey" style="font-size: .8rem">Copyright © 2022 CodeTube. All Rights Reserved.
      <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow"
         class="has-text-grey">苏ICP备13045225号-6</a>
    </p>
    <p class="has-text-grey mt-2" style="font-size: .8rem">上海码力信息技术有限公司 版权所有
      | <a href="" target="_blank" rel="nofollow" class="has-text-grey">服务协议</a>
      | <a href="" target="_blank" class="has-text-grey">隐私政策</a>
      | <a href="" target="_blank" class="has-text-grey">站点地图</a>
      | <a href="" target="_blank" class="has-text-grey">侵权投诉</a>
      | <a rel="nofollow" href="javascript:void(0);" report-tdw="action=Feedback" class="has-text-grey"
           id="footer_service_contact">联系客服</a>
      | <a href="" target="_blank" class="has-text-grey">帮助</a>
      | <a href="" target="_blank" class="has-text-grey">IT教程</a>
      | <a href="" target="_blank" class="has-text-grey">TAGS专题</a>
      | <a href="" target="_blank" class="has-text-grey">系列视频</a>
    </p>
    </p>
  </div>
</footer>
</body>
</html>{{end}}